# OS added files #
.DS_Store

# Dataset .zip file #
CapturesV2.zip

# Compiled files #
*som*

# .csv files created for dataset purposes #
networkTrafficCapturesBuildDataSet/user*
networkTrafficCapturesEvaluationDataSet/user*
networkTrafficCapturesTrainDataSet/user*
