# OS added files #
.DS_Store

# Dataset .zip file #
CapturasV2.zip

# Compiled files #
*som*
*dataset_module*

# .csv files created for dataset purposes #
networkTrafficCapturesBuildDataSet/user*
networkTrafficCapturesEvaluationDataSet/user*
networkTrafficCapturesTrainDataSet/user*
